<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="http://es.wikipedia.org/wiki/Jazz">
                    <i class="fa fa-play-circle"></i>  <span class="light">Jazz</span> Wikipedia
                </a>
            </div>
            <audio class = "margAudio" src = "/audio/feelingGood.mp3" "/audio/once.mp3" autoplay = "true" controls loop ="true"></audio>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Grupos principales</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Que visitar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Ruta</a>
                    </li>
                    <li>
                        <%= link_to 'Inicio', front_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro jazzHeader ">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading darkLetter">Ruta del</br> Jazz</h1>
                        <p class="intro-text darkLetter">Auténticos<br>maestros del Jazz</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Notas desde lo más profundo</h2>
                <p><a href="https://www.louisarmstronghouse.org/">Louis Amstrong</a>, nacido en Nueva Orleans, también conocido como Satchmo y Pops, fue un trompetista y cantante estadounidense de jazz. Se trata de una de las figuras más carismáticas e innovadoras de la historia del jazz y, probablemente, su músico más popular. Gracias a sus habilidades musicales y a su brillante personalidad, transformó el jazz desde su condición inicial de música de baile , en una forma de arte popular. Aunque en el arranque de su carrera cimentó su fama sobre todo como cornetista y trompetista, más adelante sería su condición de vocalista la que le consagraría como una figura internacionalmente reconocida y de enorme influencia para el canto jazzístico. <a href="http://www.johncoltrane.com/">John Coltrane</a>, nacido en Hamlet, ciudad en el condado de Richmond, en Carolina del Norte. Más conocido como Trane fue un músico estadounidense de jazz, saxofonista tenor y soprano. Ocasionalmente, tocó el saxo alto y la flauta. Es considerado uno de los más grandes músicos del siglo XX. Su trayectoria musical, marcada por una constante creatividad y siempre dentro de la vanguardia, abarca los principales estilos del jazz posteriores al bop: hard bop, free jazz y jazz modal. La obra de Coltrane está conscientemente vinculada al contexto sociohistórico en que fue creada (en concreto, a la lucha por los derechos civiles de los negros) y, en muchas ocasiones, busca una suerte de trascendencia a través de determinadas implicaciones religiosas, como se puede advertir en la que es considerada por la crítica su obra maestra, A Love Supreme. <a href="http://www.billieholiday.com/">Billie Holiday</a>, de Philadelpia, apodada Lady Day, fue una cantante estadounidense de jazz. Junto con Sarah Vaughan y Ella Fitzgerald, está considerada entre las más importantes e influyentes voces femeninas del jazz. El crítico Robert Christgau consideraba que era «inigualable y posiblemente la mejor cantante del siglo»1 y Frank Sinatra la consideraba «su mayor influencia» e «incuestionablemente la influencia más importante en el canto popular estadounidense de los últimos veinte años». El tema “Strange Fruit” fue considerado como la mejor canción del siglo XX, por la revista Time en 1999. El valor artístico de Billie Holiday reside en su capacidad interpretativa, en su dominio del swing y en la adaptación de sus cualidades vocales al contenido de la canción. Billie Holiday transmite a sus canciones una intensidad inigualable que, en muchos casos, es fruto de una traslación de sus vivencias personales a las letras cantadas. Esta personalización de lo cantado hace que su estilo esté muy vinculado a intérpretes clásicos de blues como Bessie Smith o Ma Rainey; también está clara su deuda, confirmada por ella misma, con Louis Armstrong (en su autobiografía dejó escrito: "Siempre quise el gran sonido de Bessie y el sentimiento de Pops") y, desde luego, con quien sería su principal acompañante: el saxofonista tenor y clarinetista Lester Young. <a href="http://www.jamiecullum.com/">Jamie Cullum</a> es un cantante y pianista inglés de jazz y pop. Nació el 20 de agosto de 1979 en Romford, Essex (Inglaterra). Empezó su carrera musical a los dieciséis años, tocando en bares, clubes y hoteles de su pueblo natal. Años más tarde se trasladó a la Universidad de Reading, para estudiar cine y literatura inglesa. En octubre de 2003, pocos meses después de firmar el contrato, Cullum lanzó «Twentysomething». De este álbum se vendieron 850.000 copias en sólo 4 meses, consiguiendo dos discos de platino y convirtiéndose en el disco de estudio número 1 editado por un artista de jazz en Inglaterra hasta entonces. Gracias a este trabajo, la nueva figura del jazz británico obtuvo el premio al «Mejor Artista Nuevo» en la BBC National Radio 3 Jazz Awards y fue nominado como "Artista Revelación" en los premios Brit Awards de ese año. Jamie Cullum se ha convertido en uno de los principales referentes del jazz vocal actual, hasta el punto de ser considerado por el público americano como sucesor de Harry Connick Jr. Su gran habilidad para la música hizo que mediante el jazz, se adentrara en diversos estilos musicales, haciendo variaciones de canciones de artistas de la talla de White Stripes, Kanye West, Pussycat Dolls, Elton John, John Legend, Justin Timberlake, Coldplay y muchos más. De hecho, se hizo famoso copiando la canción "Don't stop the music", de Rihanna. Su prestigio le ha llevado incluso a adentrarse en el terreno del cine, donde ha sido intérprete del tema principal de la banda sonora de la película El diario de Bridget Jones, versionando el clásico de la canción "Everlasting love", que Buzz Cason y Mac Gayden compusieron en 1967; así como también la canción "Grace is Gone", que forma parte de la banda sonora de la película con el mismo título. El último tema para una película es "Gran Torino" por Kyle Eastwood y Jamie Cullum para la película del mismo nombre y dirigida por Clint Eastwood, fue nominada como mejor canción original en los "Golden Globe Awards". Sacó su último disco, The Pursuit, en noviembre de 2009. <a href="http://www.victorwooten.com/"> Victor Wooten</a>, (nacido el 11 de septiembre de 1964, en Mountain House) es un virtuoso bajista estadounidense y es considerado uno de los mejores bajistas de los años 1990. Nacido en Hampton, Tocó durante los años 1970 en la ciudad de Williamsburg, Virginia en el parque temático Busch Gardens y fue telonero de Curtis Mayfield y War. Tras mudarse a Nashville, Tennessee en 1988 Victor fue inmediatamente reclutado por el cantante de blues y soul Jonell Mosser. Un año más tarde, se unió al maestro en banjo Béla Fleck, junto con Howard Levy, que tocaba el teclado y la armónica y el hermano de Victor, Roy Wooten como baterista. Su grupo, Béla Fleck and the Flecktones, se hizo famoso a base de tocar una mezcla de jazz, funk y Bluegrass, llegando más tarde a ser una de las bandas más desinhibidas estilísticamente del panorama. (Levy dejó el grupo y fue sustituido por el saxofonista y tubista Jeff Coffin). Wooten también ha sido miembro de varias bandas con miembros ya consagrados, como Bass Extremes (con Steve Bailey, Derico Watson y Oteil Burbridge), Vital Tech Tones (con Scott Henderson y Steve Smith), y el trío Extraction (con Greg Howe y Dennis Chambers). Victor también ha estado de gira con muchas bandas, incluyendo a Dave Matthews Band. Acabamos con <a href="http://www.patmetheny.com/">Pat Metheny </a>, de Misuri, que es un guitarrista que se ha negado a ser catalogado. Según la crítica, muchos de sus álbumes forman parte de lo mejor jamás compuesto dentro del estilo jazz-fusión. Como guitarrista ecléctico, Metheny ha tocado con artistas Joni Mitchell o David Bowie. Ha sido también nominado a un total de 21 Premios Grammy de los cuales ha ganado 11. Su álbum Still Life ha sido considerado como uno de los 100 mejores álbumes de música pop (sí, música pop) según la revista Rolling Stone. Una vez escuchas a Pat Metheny, sabes que es él aunque haya tocado todo tipo de estilos. Tiene un sonido donde prima la fluidéz y delicadeza.</p>
                
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section pos-div jazzSecond">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <article class = "city1">
                        <p class = "marginCity">Nueva Orleans</p>
                        <%= image_tag "/images/orleans1.jpg", :class => "dimImag", :name=> "slide16" %>
                        <p class = "marginGrunge">Nueva Orleans (en francés: La Nouvelle-Orléans; en inglés: New Orleans) es la ciudad más grande del estado de Luisiana, en los Estados Unidos, así como el principal puerto del río Misisipi. En 2010 su población era de 343.829 habitantes. Tras ser parcialmente destruida por el huracán Katrina en 2005, la población disminuyó considerablemente por evacuación o defunción y en 2006 la población era aproximadamente la mitad, entre 192.000 y 230.000 habitantes. Nueva Orleans es una ciudad multicultural del sur de los Estados Unidos (con especial influencia africana, latina, española, francesa,...), muy conocida por sus festivales, su música y su cocina. Eventos como el Mardi Gras, Jazz Fest y el Sugar Bowl (tazón del azúcar) mantienen a la ciudad como un destino turístico constante. En Nueva Orleans nacieron músicos de jazz como Louis Armstrong, Wynton Marsalis y Harry Connick, Jr., el vocalista de Heavy Metal Phil Anselmo y el rapero Lil Wayne. También es la cuna de los escritores Tennesse Williams, Anne Rice, Sherrilyn Kenyon y John Kennedy Toole.
                         </p>
                    </article>

                    <article class = "city1">
                        <p class = "marginCity">Hamlet</p>
                        <%= image_tag "/images/Hamlet1.jpg", :class => "dimImag", :name=> "slide17" %>
                        <p class = "marginGrunge">
                              Es una ciudad ubicada en el condado de Richmond en el estado estadounidense de Carolina del Norte. La localidad en el año 2000, tenía una población de 6.018 habitantes en una superficie de 13,3 km², con una densidad poblacional de 460,4 personas por km². En el 20002 la renta per cápita promedia del hogar era de $29.013, y el ingreso promedio para una familia era de $36.234. El ingreso per cápita para la localidad era de $14.764. En 2000 los hombres tenían un ingreso per cápita de $28.958 contra $23.397 para las mujeres. Alrededor del 22.20% de la población estaba bajo el umbral de pobreza nacional.
                    </article>
                        
                    <article class = "city1">
                        
                        <p class = "marginCity">Philadelpia</p>
                        <%= image_tag "/images/philadelpia1.jpg", :class => "dimImag", :name=> "slide18" %>
                            <p class = "marginGrunge"> es la mayor ciudad de la mancomunidad de Pensilvania, situada al noreste de los Estados Unidos, entre Nueva York y Washington D. C.. Es la quinta ciudad del país por población y la número 51 del mundo. El condado de Filadelfia, del que es sede, posee 1.526.006 habitantes en su comuna (Philadelphia City) y 5.950.000 en su área metropolitana.
                            Es un gran centro histórico, cultural y artístico en los Estados Unidos, y de la misma forma un importante puerto industrial sobre el río Delaware, que se extiende hasta el océano Atlántico. Fundada en 1682, fue durante el siglo XVIII la ciudad más poblada de las Trece colonias y la tercera ciudad más poblada del Imperio británico (tras Londres y Dublín), antes de convertirse provisionalmente en la ciudad capital de los Estados Unidos. Fue velozmente superada por Nueva York y le cedió su estatus de capital a la flamante ciudad de Washington D.C. Hoy, Filadelfia es la principal metrópoli y también la sede del gobierno de Pensilvania, cuya capital es Harrisburg.</p>
                        
                    </article>
                    <article class = "city1">
                        <p class = "marginCity">Essex</p>
                        <%= image_tag "/images/esex1.jpg", :class => "dimImag", :name=> "slide19" %>
                        <p class = "marginGrunge">Essex es un condado no metropolitano en Inglaterra (Reino Unido) situado al este de Londres. Limita con el Gran Londres y con Hertfordshire, Cambridgeshire y Suffolk. Su frontera con Kent es el río Támesis.
                        La capital el condado es la ciudad de Chelmsford y el punto más elevado se sitúa cerca de Langley, en "Chrishall Common", con una altura de 147 metros sobre el nivel el mar. Essex ocupa un área de 3.670 Km² y su población en el año 2003 era de 1.627.647 habitantes. El nombre del condado proviene del antiguo reino anglosajón de Essex fundado en el año 500 d. C. y que ocupaba un territorio que se extendía desde el río Támesis hasta el río Lee. Debido a la proximidad del condado con la ciudad de Londres, muchas de las localidades de Essex son "ciudades dormitorio". El llamado "cinturón verde de Londres" ha evitado la expansión de la metrópolis en el condado aunque han aparecido algunas localidades como Harlow, originariamente fundada para realojar a los londineses que se quedaron sin vivienda durante los bombardeos de la ciudad en la Segunda Guerra Mundial.
                        </p>
                    </article>
                     <article class = "city1">
                        <p class = "marginCity">Mountain Home   </p>
                        <%= image_tag "/images/mountain1.jpg", :class => "dimImag", :name=> "slide20" %>
                        <p class = "marginGrunge">Es una ciudad ubicada en el condado de Elmore en el estado estadounidense de Idaho. En el Censo de 2010 tenía una población de 14206 habitantes y una densidad poblacional de 862,28 personas por km². Mountain Home se encuentra ubicada en las coordenadas 43°7′59″N 115°41′48″O. Según la Oficina del Censo de los Estados Unidos, Mountain Home tiene una superficie total de 16.47 km², de la cual 15.73 km² corresponden a tierra firme y (4.54%) 0.75 km² es agua. Según el censo de 2010, había 14206 personas residiendo en Mountain Home. La densidad de población era de 862,28 hab./km². De los 14206 habitantes, Mountain Home estaba compuesto por el 0.08% blancos, el 3.31% eran afroamericanos, el 0.96% eran amerindios, el 2.88% eran asiáticos, el 0.56% eran isleños del Pacífico, el 4.75% eran de otras razas y el 4.36% pertenecían a dos o más razas. Del total de la población el 0.01% eran hispanos o latinos de cualquier raza.
                        </p>
                    </article>
                     <article class = "city1">
                        <p class = "marginCity">Misuri</p>
                        <%= image_tag "/images/misuri1.jpg", :class => "dimImag", :name=> "slide21" %>
                        <p class = "marginGrunge">) Es un estado ubicado en el Medio Oeste de los Estados Unidos con Jefferson City como su capital. Limita al norte con Iowa; al este, bordeando el río Missisipi, con llinois, Kentucky, y Tennessee; al sur con Arkansas; y al oeste con Oklahoma, Kansas y Nebraska (ambos bordeando el río Misuri). El apodo del estado es la Puerta al Oeste, o el Estado Muéstreme (Show-me State), en referencia a una expresión de un representante político del estado. La abreviatura del Servicio Postal de los Estados Unidos para Misuri es MO y la rama principal de la universidad estatal pública está localizada en Columbia. El Misuri y el Misisipi son los dos ríos principales que fluyen por este estado. Misuri recibe su nombre del nombre dado a los missouria un grupo de lengua siux que fueron llamados ouemessourita (wimihsoorita3 'los que han tallado canoas'), por los miami-illinois (que eran algonquinos). Los buques de guerra USS Missouri fueron nombrados así en honor de este estado. En la cubierta del USS Missouri (BB-63) se firmó la rendición de Japón al finalizar la Segunda Guerra Mundial.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Esta es la ruta...¡¡Animate!!</h2>
                                
                <article class = "map_canvas" id="map_canvas4">
                    
                </article>
            </div>
        </div>
    </section>

    <footer class = "colocFooter fondoJazzFooter">
        <div class="container text-center">
            <ul class = "ulFooter">
                <li class = "footLiGrunge darkLetter">Quienes somos</li>
                <li class = "footLiGrunge darkLetter">Contactanos</li>
                <li class = "footLiGrunge darkLetter">Trabaja con nosotros<li>
            </ul>
        </div>
    </footer>
   
    