

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="http://es.wikipedia.org/wiki/Pop">
                    <i class="fa fa-play-circle"></i>  <span class="light">Pop</span> Wikipedia
                </a>
            </div>
            <audio class = "margAudio" src = "/audio/imagine.mp3" "/audio/once.mp3" autoplay = "true" controls loop ="true"></audio>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from dimabout link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Grupos principales</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Que visitar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Ruta</a>
                    </li>
                    <li>
                        <%= link_to 'Inicio', front_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro popHeader">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading darkLetter">Ruta del</br> Pop	</h1>
                        <p class="intro-text darkLetter">Auténticos himnos<br>musicales</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Grandes referentes del Pop</h2>
                <p><a href="http://www.michaeljackson.com/es">Michael Jackson</a> fue un cantante, nacido en Gary (Indiana) compositor y bailarín estadounidense de música pop y sus variantes. Conocido como el «Rey del Pop»,  logró cerca de 80 récords por diferentes motivos y fue incluido en el Libro Guinness de los récords en numerosas ocasiones, entre ellos: por ser el artista musical más premiado de la historia, con cientos de galardones, entre ellos 15 premios Grammy; el vocalista más joven en liderar la lista de sencillos en los Estados Unidos, con 11 años de edad; el primer vocalista en entrar en la lista de sencillos directamente en el número 1, con «You are not alone»; mayor número de semanas en el número 1 de la lista de álbumes (sin incluir banda sonoras) en Estados Unidos, con Thriller, durante 37 semanas; videoclip más exitoso, Michael Jackson's Thriller, con alrededor de 1 millón de unidades vendidas; primer animador en ganar más de 100 millones de dólares en un año; animador mejor pagado de todos los tiempos (125 millones de dólares en la lista Forbes de 1989); y animador más exitoso de todos los tiempos.4 5 Además ha sido el primer y único artista que ha logrado empezar y terminar el año con un álbum en el número 1 (Thriller) y el primer y único artista de la historia en lograr números 1 en las décadas de 1960, 1970, 1980 y 1990. (Véase la sección «Premios y honores» para más información). Su contribución a la música, al baile y a la moda, además de su publicitada vida personal le convirtieron en una figura de la cultura popular. Se estima que Michael Jackson ha vendido entre 350 a más de 400 millones de sus producciones musicales, lo que lo convierte en uno de los músicos con mayores ventas de los últimos tiempos. <a href="http://www.thebeatles.com/">The Beatles</a> fue una banda de rock inglesa activa durante la década de 1960, y reconocida como la más exitosa comercialmente y críticamente aclamada en la historia de la música popular. Formada en Liverpool, estuvo constituida desde 1962 por John Lennon (guitarra rítmica, vocalista), Paul McCartney (bajo, vocalista), George Harrison (guitarra solista, vocalista) y Ringo Starr (batería, vocalista). Enraizada en el skiffle y el rock and roll de los años cincuenta, la banda trabajó más tarde con distintos géneros musicales, que iban desde las baladas pop hasta el rock psicodélico, incorporando a menudo elementos clásicos, entre otros, de forma innovadora en sus canciones. La naturaleza de su enorme popularidad, que había emergido primeramente con la moda de la «Beatlemanía», se transformó al tiempo que sus composiciones se volvieron más sofisticadas. Llegaron a ser percibidos como la encarnación de los ideales progresistas, extendiendo su influencia en las revoluciones sociales y culturales de la década de 1960. <a href="www.u2.com">U2</a> es una banda de Rock, Rock Alternativo y Post-Punk, perteneciente a la "New Wave", y originaria de Dublín (Irlanda), formada en 1976 por Bono (voz), The Edge (guitarra, teclado y voz), Adam Clayton (bajo), y Larry Mullen Jr. (batería). El sonido inicial de U2 tenía sus raíces en el post-punk, pero posteriormente empezaron a incorporar a su música géneros más populares. A lo largo de la búsqueda musical de la banda, han mantenido un sonido construido a base de instrumentales melódicos, destacados por la textura musical de The Edge y la voz expresiva de Bono. Sus letras, a menudo ordenadas con imágenes espirituales, se centran en temas personales y temática de justicia social y paz. <a href="http://www.robbiewilliams.com/">Robbie Williams</a> es un cantante británico de pop rock de Staffordshire (Inglaterra).
                Empezó su carrera musical en el grupo Take That, tras su paso por este grupo, a principios y mediados de los 90, se forjó una carrera como solista, siendo "Angels", una balada, la canción que le dio su primer éxito. Su primer álbum fue Life Thru A Lens. Su siguiente álbum, I've Been Expecting You, lanzado en octubre de 1998, contiene el tema "No Regrets", dedicado a sus antiguos compañeros de Take That. Al año siguiente lanza The Ego Has Landed en el mercado americano y poco después grabó Sing When You're Winning, que contenía Rock DJ, éxito en varios países. En 2001 divulgó el álbum Swing When You're Winning con las recreaciones de éxitos de Frank Sinatra, Dean Martin, Peter Lawford, Sammy Davis Jr incluido el éxito "Something Stupid" grabado a dúo con la australiana Nicole Kidman. Un año después grabó Escapology, su álbum más laureado y nº1 en varios países, que incluye unos de sus temas más conocidos "Feel" y "Come Undone". En el 2003 Robbie Williams lanzó Live at Knebworth en 2003, grabado en directo donde batió 2 Record Guiness. En 2004, fue incluido en el Salón de la Fama de Música del Reino Unido después de haber sido votado como el artista más grande de la década de los 90.  <a href="http://prince.org/">Prince</a> (nacido en Minneapolis, Minnesota, 7 de junio de 1958) es un cantante, compositor y multiinstrumentista de rock, soul, funk y new wave estadounidense. Usa el nombre artístico de Prince, aunque también ha sido conocido bajo un símbolo impronunciable, que utilizó entre 1993 y 2000. Este cambio de nombre resultó controvertido y muchos se referían a él como "El artista antes conocido como Prince", a menudo abreviado como "TAFKAP", o simplemente "El artista" durante ese período. Durante la década de los años 80, fue uno de los artistas más importantes e innovadores. Se le considera el fundador del llamado "sonido Minneapolis".2 Sonido que comenzó a conformar en su tercer álbum, Dirty Mind y que se sustanció en 1981 en su álbum Controversy y en la evidencia de un disco claramente influido por él: el álbum de debut de The Time. Prince alcanzaría la cima de su popularidad con el álbum Purple Rain (1984) y la película de idéntico título. <a href="http://www.cranberries.com">The Cranberries</a> es una banda irlandesa de rock, formada en Limerick en 1989 bajo el nombre de The Cranberry Saw Us; más tarde cambiado por la vocalista Dolores O'Riordan. Aunque muchas veces es asociada con pop rock1 y rock alternativo, el sonido de la banda también incorpora elementos de post-punk y rock celta. The Cranberries saltó a la fama internacional en la década de 1990 con su álbum debut, Everybody Else Is Doing It, So Why Can't We?, que se convirtió en un éxito comercial y vendiendo más de cinco millones de copias en Estados Unidos. El grupo fue uno de los grupos de rock más exitosos de los 90 y vendió más de 14,5 millones de álbumes sólo en los Estados Unidos, mientras que a nivel mundial la cifra asciende a más de 40 millones de discos. La banda ha logrado cuatro top 20 álbumes en el Billboard 200 (Everybody Else Is Doing It, So Why Can't We?; No Need To Argue; To the Faithful Departed y Bury the Hatchet)3 y 20 sencillos en el puesto ocho de las lista de canciones alternativas. Sus dos cabezas creativas (Dolores O'Riordan y Noel Hogan) se hallan en un litigio para obtener algunos derechos sobre sus composiciones.</p>
                
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section pos-div rockSecond">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <article class = "city1">
                        <p class = "marginCity">Seattle</p>
                        <%= image_tag "/images/seattle.png", :class => "dimImag", :name=> "slide" %>
                        <p class = "marginGrunge">Es la ciudad más grande del Estado de Washington, en el noroeste de los Estados Unidos de América. El área metropolitana de la ciudad comprende Seattle-Tacoma-Bellevue, es la 15.ª más poblada del país y la mayor del Noroeste del Pacífico.2 La ciudad está situada entre el Lago Washington y la bahía conocida como Puget Sound, junto al océano Pacífico. Importante centro cultural, educativo y económico de la región, Seattle es sede del condado de King.  es famosa por ser la tierra natal de la música grunge también conocida como el sonido de Seattle,8 y de bandas que impulsaron ese movimiento a comienzos de los 90 como Nirvana, Pearl Jam, Soundgarden y Alice in Chains.
                         </p>
                    </article>

                    <article class = "city1">
                        <p class = "marginCity">Los Ángeles</p>
                        <%= image_tag "/images/losAngeles1.jpg", :class => "dimImag", :name=> "slide5" %>
                        <p class = "marginGrunge">
                             Es la ciudad más poblada del estado estadounidense de California y la segunda de Estados Unidos tras Nueva York. La ciudad es el centro del área estadística metropolitana de Los Ángeles—Long Beach—Santa Ana y del Gran Los Ángeles, que según el censo de 2010 sumaban una población de 13 y 18 millones de personas, respectivamente. Por lo tanto, es una de las mayores áreas metropolitanas del mundo y la segunda de Estados Unidos. La ciudad también es la sede del condado de Los Ángeles, uno de los condados más poblados y étnicamente diversos del país; la propia ciudad de Los Ángeles es reconocida como una de las metrópolis más diversas del planeta. El gentilicio de sus habitantes es «angelinos». Los Ángeles es una ciudad global con gran peso en ámbitos tan diversos como los negocios, el comercio internacional, el entretenimiento, la cultura, los medios de comunicación, la moda, la ciencia, los deportes, la tecnología, la educación, la medicina o la investigación. En la ciudad tienen su sede instituciones de renombre que abarcan diversos campos profesionales y culturales y es uno de los motores económicos más importantes de Estados Unidos.

                    </article>
                        
                    <article class = "city1">
                        
                        <p class = "marginCity">Londres</p>
                        <%= image_tag "/images/londres1.jpg", :class => "dimImag", :name=> "slide3" %>
                            <p class = "marginGrunge">Londres es una de las capitales mundiales de la música clásica y popular y sede de grandes sellos discográficos, como EMI, así como hogar de incontables grupos de música, músicos y profesionales de la industria. En la ciudad hay también varias orquestas y salas de conciertos, como el Barbican Centre (base de la Orquesta Sinfónica de Londres, donde se llevará a cabo Wikimanía 2014 en agosto de ese año), Cadogan Hall (Orquesta Filarmónica Real) y el Royal Albert Hall (los Proms).221 Los dos teatros principales de ópera son la Royal Opera House y el London Coliseum.221 Por supuesto, en la ciudad existen numerosos conservatorios de música: la Royal Academy of Music, el Royal College of Music, la Guildhall School of Music and Drama y el Trinity Laban Conservatoire of Music and Dance.
                            Los Abbey Road Studios en el n.º 3 de la calle Abbey Road, Ciudad de Westminster, Londres. En la ciudad hay gran cantidad de lugares para conciertos de música rock y pop, entre ellos grandes estadios como Earls Court, Wembley Arena y O2 Arena, y locales de tamaño mediano como Brixton Academy, Hammersmith Apollo y Shepherds Bush Empire.</p>
                        
                    </article>
                    <article class = "city1">
                        <p class = "marginCity">Teignmouth</p>
                        <%= image_tag "/images/merewether_1.jpg", :class => "dimImag", :name=> "slide6" %>
                        <p class = "marginGrunge">Teignmouth es un pueblo en la orilla norte del del estuario del río Teign, en el distrito de Teignbridge, Devon, Inglaterra. En 1690 fue el último lugar de Inglaterra en ser invadido por una potencia extranjera. El pueblo evolucionó de un puerto pesquero a un destino turístico de moda en los últimos siglos. A este pueblo pertenece la famosa banda de rock alternativo Muse, que se formó en este pueblo.
                        </p>
                    </article>

                     <article class = "city1">
                        <p class = "marginCity">Plasencia</p>
                        <%= image_tag "/images/plasencia1.jpg", :class => "dimImag", :name=> "slide7" %>
                        <p class = "marginGrunge">Plasencia es una ciudad y municipio español de la provincia de Cáceres, situado en el norte de la comunidad autónoma de Extremadura. El municipio, que no forma mancomunidad con los pueblos que le rodean, limita con poblaciones de cinco comarcas: Alagón, Granadilla, Jerte, Monfragüe y la Vera. Físicamente, la ciudad se halla en la puerta de entrada al valle del Jerte, a pesar de que oficialmente no pertenece al mismo. La economía del municipio se basa principalmente en el sector servicios, pues en la ciudad hay más de mil establecimientos comerciales. Es importante el turismo, pues su conjunto histórico está declarado bien de interés cultural y la ciudad cuenta con dos festividades declaradas de interés turístico: el Martes Mayor y la Semana Santa. La ciudad posee un pequeño campus universitario dependiente de la Universidad de Extremadura en el que se estudian cuatro titulaciones de grado, y en el siglo XX el municipio llegó a tener su propia caja de ahorros.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Esta es la ruta...¡¡Animate!!</h2>
                                
                <article class = "map_canvas" id="map_canvas2">
                    
                </article>
            </div>
        </div>
    </section>
     <footer class = "colocFooter fondoRockFooter">
        <div class="container text-center">
            <ul class = "ulFooter">
                <li class = "footLiGrunge darkLetter">Quienes somos</li>
                <li class = "footLiGrunge darkLetter">Contactanos</li>
                <li class = "footLiGrunge darkLetter">Trabaja con nosotros<li>
            </ul>
        </div>
    </footer>