

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="http://es.wikipedia.org/wiki/Pop">
                    <i class="fa fa-play-circle"></i>  <span class="light">Pop</span> Wikipedia
                </a>
            </div>
            <audio class = "margAudio" src = "/audio/imagine.mp3" "/audio/once.mp3" autoplay = "true" controls loop ="true"></audio>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from dimabout link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Grupos principales</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Que visitar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Ruta</a>
                    </li>
                    <li>
                        <%= link_to 'Inicio', front_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro popHeader">
         <% @travel.users.each do |user| %>
         <%= user.name %>
        <% end %>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading darkLetter">Ruta del</br> Pop	</h1>
                        <p class="intro-text darkLetter">Auténticos himnos<br>musicales</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
            <% if @travels.map(&:travel).include?('Pop') %>
               <div class = "travelRegister travelText">
                 Viaje realizado    
               </div> 
             <% else %>
               <div class = "travelRegister"><%= link_to 'Agregar viaje', create_trip_path(@travel.id), method: :post, class: "travelText" %>
               </div>
             <% end %>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Grandes referentes del Pop</h2>
                <p><a href="http://www.michaeljackson.com/es">Michael Jackson</a> fue un cantante, nacido en Gary (Indiana) compositor y bailarín estadounidense de música pop y sus variantes. Conocido como el «Rey del Pop»,  logró cerca de 80 récords por diferentes motivos y fue incluido en el Libro Guinness de los récords en numerosas ocasiones, entre ellos: por ser el artista musical más premiado de la historia, con cientos de galardones, entre ellos 15 premios Grammy; el vocalista más joven en liderar la lista de sencillos en los Estados Unidos, con 11 años de edad; el primer vocalista en entrar en la lista de sencillos directamente en el número 1, con «You are not alone»; mayor número de semanas en el número 1 de la lista de álbumes (sin incluir banda sonoras) en Estados Unidos, con Thriller, durante 37 semanas; videoclip más exitoso, Michael Jackson's Thriller, con alrededor de 1 millón de unidades vendidas; primer animador en ganar más de 100 millones de dólares en un año; animador mejor pagado de todos los tiempos (125 millones de dólares en la lista Forbes de 1989); y animador más exitoso de todos los tiempos.4 5 Además ha sido el primer y único artista que ha logrado empezar y terminar el año con un álbum en el número 1 (Thriller) y el primer y único artista de la historia en lograr números 1 en las décadas de 1960, 1970, 1980 y 1990. (Véase la sección «Premios y honores» para más información). Su contribución a la música, al baile y a la moda, además de su publicitada vida personal le convirtieron en una figura de la cultura popular. Se estima que Michael Jackson ha vendido entre 350 a más de 400 millones de sus producciones musicales, lo que lo convierte en uno de los músicos con mayores ventas de los últimos tiempos. <a href="http://www.thebeatles.com/">The Beatles</a> fue una banda de rock inglesa activa durante la década de 1960, y reconocida como la más exitosa comercialmente y críticamente aclamada en la historia de la música popular. Formada en Liverpool, estuvo constituida desde 1962 por John Lennon (guitarra rítmica, vocalista), Paul McCartney (bajo, vocalista), George Harrison (guitarra solista, vocalista) y Ringo Starr (batería, vocalista). Enraizada en el skiffle y el rock and roll de los años cincuenta, la banda trabajó más tarde con distintos géneros musicales, que iban desde las baladas pop hasta el rock psicodélico, incorporando a menudo elementos clásicos, entre otros, de forma innovadora en sus canciones. La naturaleza de su enorme popularidad, que había emergido primeramente con la moda de la «Beatlemanía», se transformó al tiempo que sus composiciones se volvieron más sofisticadas. Llegaron a ser percibidos como la encarnación de los ideales progresistas, extendiendo su influencia en las revoluciones sociales y culturales de la década de 1960. <a href="www.u2.com">U2</a> es una banda de Rock, Rock Alternativo y Post-Punk, perteneciente a la "New Wave", y originaria de Dublín (Irlanda), formada en 1976 por Bono (voz), The Edge (guitarra, teclado y voz), Adam Clayton (bajo), y Larry Mullen Jr. (batería). El sonido inicial de U2 tenía sus raíces en el post-punk, pero posteriormente empezaron a incorporar a su música géneros más populares. A lo largo de la búsqueda musical de la banda, han mantenido un sonido construido a base de instrumentales melódicos, destacados por la textura musical de The Edge y la voz expresiva de Bono. Sus letras, a menudo ordenadas con imágenes espirituales, se centran en temas personales y temática de justicia social y paz. <a href="http://www.robbiewilliams.com/">Robbie Williams</a> es un cantante británico de pop rock de Staffordshire (Inglaterra).
                Empezó su carrera musical en el grupo Take That, tras su paso por este grupo, a principios y mediados de los 90, se forjó una carrera como solista, siendo "Angels", una balada, la canción que le dio su primer éxito. Su primer álbum fue Life Thru A Lens. Su siguiente álbum, I've Been Expecting You, lanzado en octubre de 1998, contiene el tema "No Regrets", dedicado a sus antiguos compañeros de Take That. Al año siguiente lanza The Ego Has Landed en el mercado americano y poco después grabó Sing When You're Winning, que contenía Rock DJ, éxito en varios países. En 2001 divulgó el álbum Swing When You're Winning con las recreaciones de éxitos de Frank Sinatra, Dean Martin, Peter Lawford, Sammy Davis Jr incluido el éxito "Something Stupid" grabado a dúo con la australiana Nicole Kidman. Un año después grabó Escapology, su álbum más laureado y nº1 en varios países, que incluye unos de sus temas más conocidos "Feel" y "Come Undone". En el 2003 Robbie Williams lanzó Live at Knebworth en 2003, grabado en directo donde batió 2 Record Guiness. En 2004, fue incluido en el Salón de la Fama de Música del Reino Unido después de haber sido votado como el artista más grande de la década de los 90.  <a href="http://prince.org/">Prince</a> (nacido en Minneapolis, Minnesota, 7 de junio de 1958) es un cantante, compositor y multiinstrumentista de rock, soul, funk y new wave estadounidense. Usa el nombre artístico de Prince, aunque también ha sido conocido bajo un símbolo impronunciable, que utilizó entre 1993 y 2000. Este cambio de nombre resultó controvertido y muchos se referían a él como "El artista antes conocido como Prince", a menudo abreviado como "TAFKAP", o simplemente "El artista" durante ese período. Durante la década de los años 80, fue uno de los artistas más importantes e innovadores. Se le considera el fundador del llamado "sonido Minneapolis".2 Sonido que comenzó a conformar en su tercer álbum, Dirty Mind y que se sustanció en 1981 en su álbum Controversy y en la evidencia de un disco claramente influido por él: el álbum de debut de The Time. Prince alcanzaría la cima de su popularidad con el álbum Purple Rain (1984) y la película de idéntico título. <a href="http://www.cranberries.com">The Cranberries</a> es una banda irlandesa de rock, formada en Limerick en 1989 bajo el nombre de The Cranberry Saw Us; más tarde cambiado por la vocalista Dolores O'Riordan. Aunque muchas veces es asociada con pop rock1 y rock alternativo, el sonido de la banda también incorpora elementos de post-punk y rock celta. The Cranberries saltó a la fama internacional en la década de 1990 con su álbum debut, Everybody Else Is Doing It, So Why Can't We?, que se convirtió en un éxito comercial y vendiendo más de cinco millones de copias en Estados Unidos. El grupo fue uno de los grupos de rock más exitosos de los 90 y vendió más de 14,5 millones de álbumes sólo en los Estados Unidos, mientras que a nivel mundial la cifra asciende a más de 40 millones de discos. La banda ha logrado cuatro top 20 álbumes en el Billboard 200 (Everybody Else Is Doing It, So Why Can't We?; No Need To Argue; To the Faithful Departed y Bury the Hatchet)3 y 20 sencillos en el puesto ocho de las lista de canciones alternativas. Sus dos cabezas creativas (Dolores O'Riordan y Noel Hogan) se hallan en un litigio para obtener algunos derechos sobre sus composiciones.</p>
                
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section pos-div popSecond">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <article class = "city1">
                        <p class = "marginCity">Gary</p>
                        <%= image_tag "/images/gary1.jpg", :class => "dimImag", :name=> "slide10" %>
                        <p class = "marginGrunge">Gary es la mayor ciudad del condado de Lake, en el estado de Indiana (Estados Unidos). La ciudad está situada al sudeste del área metropolitana de Chicago, ciudad de la que dista unos 40 km. Según el censo del año 2000, tiene una población de 102.746 habitantes, siendo la ciudad más grande de Indiana sin ser sede de un condado. La ciudad fue fundada en 1906 por la U.S.Steel, una empresa del acero norteamericana, como hogar para su nueva planta de producción. El nombre de la ciudad se puso en honor al presidente de dicha compañía, Elbert H. Gary.
                        Entre las ciudades estadounidenses de más de 100.000 habitantes, Gary es la que tiene mayor porcentaje de afroamericanos residentes (según el censo del año 2000). Fue una de las primeras ciudades del país en tener un alcalde de raza negra, Richard G. Hatcher, y albergó en 1972 la Convención Nacional de Políticos Negros. Al mismo tiempo, Gary sufrió el abandono de muchas familias de clase media y acomodada, que se recolocaron en ciudades cercanas. Gary es la ciudad donde nació la superestrella del pop Michael Jackson.
                         </p>
                    </article>

                    <article class = "city1">
                        <p class = "marginCity">Liverpool</p>
                        <%= image_tag "/images/liverpool1.jpg", :class => "dimImag", :name=> "slide11" %>
                        <p class = "marginGrunge">
                             Liverpool es una ciudad y municipio metropolitano del condado de Merseyside, en la región Noroeste de Inglaterra, sobre el lado este del estuario del río Mersey. Limita al norte con el municipio metropolitano de Sefton, al este con el de Knowsley, al sur y oeste con el mencionado río. Fue fundada como villa en 1207 y tuvo ese estatus hasta 1880, cuando recibió el título de ciudad. Según el último censo oficial, que data de 2001, Liverpool tenía una población de 439 473 habitantes; esta cifra aumenta ligeramente hasta los 454 654 habitantes según estimaciones para el año 2009. La popularidad de The Beatles y del equipo de fútbol Liverpool Football Club contribuyen a convertir a Liverpool en un destino turístico; el turismo juega un papel significante en la economía de la ciudad. En 2007 celebró su 800.º aniversario, y al año siguiente fue Capital Europea de la Cultura junto a la ciudad noruega de Stavanger.

                    </article>
                        
                    <article class = "city1">
                        
                        <p class = "marginCity">Dublin</p>
                        <%= image_tag "/images/dublin1.jpg", :class => "dimImag", :name=> "slide12" %>
                            <p class = "marginGrunge">es la capital de la República de Irlanda y ciudad más poblada de la isla. Está ubicada cerca del centro de la costa este de la isla, en la desembocadura del río Liffey y en el centro del condado de Dublín. Fue fundada por los vikingos alrededor de 841 como base militar y centro de comercio de esclavos, y ha sido capital del país desde la Edad Media.  Está constituida por diferentes áreas; el Consejo de la Ciudad de Dublín junto con suburbios contiguos en el condado de Dublín, y que a su vez se subdivide en los condados administrativos de Dun Laoghaire-Rathdown, Fine Gall-Fingal y el Consejo del Condado de Dublín Sur. La Gran Área abarca la Ciudad de Dublín y el Consejo junto con los condados contiguos de Kildare, Meath y Wicklow. La población del área urbana de Dublín era de 1.110.614 habitantes en el censo de 2010, pero ampliada al condado de Dublín ascendía a 1.122.821. En la Gran Área o región metropolitana de Dublín había 1.804.156 habitantes. La ciudad contribuye con 60.000 millones de euros al PIB irlandés y es el centro político, administrativo, económico, industrial y cultural de la República de Irlanda. Dublín ha sido declarada ciudad global por el GaWC (Grupo de Estudios sobre Globalización y Ciudades Mundiales) y Capital Europea de la Ciencia 2012 debido a la celebración del EuroSciencie Open Forum.</p>
                        
                    </article>
                    <article class = "city1">
                        <p class = "marginCity">Staffordshire</p>
                        <%= image_tag "/images/stafford1.jpg", :class => "dimImag", :name=> "slide13" %>
                        <p class = "marginGrunge">Es un condado no metropolitano de Inglaterra, en el Reino Unido.1 2 Su capital es Stafford. Está situado en el centro. Limita con los condados de Cheshire, Derbyshire, Leicestershire, Warwickshire, West Midlands y Shropshire. Ocupa un área de 2.713 km² y su población aproximada es de 1.048.973 habitantes. Está atravesado por el río Trent que es uno de los más largos de de Inglaterra. La ciudad de Stafford es la capital y centro administrativo. Al norte se encuentra el extremo sur del Parque nacional del Distrito de los Picos, donde abunda la vegetación, sobre todo los brezos. Su economía se basa en la agricultura y en la fabricación de porcelana en la zona llamada Las Alfarerías (Potteries). También aquí se fabrican productos sanitarios.
                        </p>
                    </article>

                     <article class = "city1">
                        <p class = "marginCity">Minneapolis</p>
                        <%= image_tag "/images/minne1.jpg", :class => "dimImag", :name=> "slide14" %>
                        <p class = "marginGrunge">Minneapolis es la sede del condado de Hennepin y la ciudad más poblada del estado de Minnesota y la cuadragésimo octava ciudad más poblada de los Estados Unidos. El nombre de la ciudad se le atribuye al primer profesor escolar de la ciudad, que combinó las palabras mini, término que en siux significa agua, y polis, la palabra griega de ciudad. Los habitantes de Minneapolis son conocidos como minneapolitanos. La ciudad es muy rica en agua, con cerca de veinte lagos y humedales, el río Misisipi, arroyos y cascadas, muchos conectados por avenidas en Chain of Lakes y Grand Rounds Scenic Byway, de ahí su apodo "Ciudad de los Lagos", una expresión que aparece en muchos vehículos y propiedades municipales. La ciudad fue en el pasado capital mundial de molienda de harina y centro de actividad de la madera, mientras que hoy es el principal centro de negocios entre Chicago y Seattle. Nombrada la ciudad estadounidense más alfabetizada, tiene organizaciones culturales que atraen a personas creativas y audiencias hacia la escena teatral, de las artes visuales, literaria y musical de la ciudad. La diversa población de la comunidad tiene una larga tradición de apoyo caritativo a través de progresivos programas sociales públicos, así como filantropía colectiva y privada.
                        </p>
                    </article>

                    <article class = "city1">
                        <p class = "marginCity">Limerick</p>
                        <%= image_tag "/images/limerick1.jpg", :class => "dimImag", :name=> "slide15" %>
                        <p class = "marginGrunge">Limerick es una ciudad capital del Condado de Limerick en la provincia de Munster, en el oeste de la República de Irlanda. Limerick es la tercera ciudad más poblada del país. La ciudad se encuentra a orillas del río Shannon, que se puede cruzar en tres puntos cercanos al centro. Aunque la población de la zona urbana es de 57.104 habitantes (en 2011), contando su área metropolitana alcanzaría los 91.456 (2011). Su área es de 20,79 km². Los mayores atractivos para sus visitantes incluyen el Castillo del Rey Juan, la catedral de Santa María, el museo Hunt Museum, y el río Shannon, que es posible recorrer mediante paseos en barca. Limerick tiene una creciente actividad cultural: en la ciudad se encuentran la Limerick City Gallery of Art, el Hunt Museum o el Belltable Theater, además de diversas galerías privadas y numerosos locales con conciertos de música en directo, como el Dolan's. La ciudad ha servido como escenario al libro de Frank McCourt: Las cenizas de Ángela y para la película del mismo nombre. Los cuatro integrantes de la popular banda de rock The Cranberries son oriundos de esta ciudad.

                        </p>
                    </article>

                   
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Esta es la ruta...¡¡Animate!!</h2>
                                
                <article class = "map_canvas" id="map_canvas3">
                    
                </article>
            </div>
        </div>
    </section>
     <footer class = "colocFooter fondoPopFooter">
        <div class="container text-center">
            <ul class = "ulFooter">
                <li class = "footLiGrunge darkLetter">Quienes somos</li>
                <li class = "footLiGrunge darkLetter">Contactanos</li>
                <li class = "footLiGrunge darkLetter">Trabaja con nosotros<li>
            </ul>
        </div>
    </footer>