

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="http://es.wikipedia.org/wiki/Rock">
                    <i class="fa fa-play-circle"></i>  <span class="light">Rock</span> Wikipedia
                </a>
            </div>
            <audio class = "margAudio" src = "/audio/slither.mp3" "/audio/once.mp3" autoplay = "true" controls loop ="true"></audio>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from dimabout link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Grupos principales</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Que visitar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Ruta</a>
                    </li>
                    <li>
                        <%= link_to 'Inicio', front_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro rockHeader">
        <% @travel.users.each do |user| %>
         <%= user.name %>
        <% end %>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading darkLetter">Ruta del</br> Rock	</h1>
                        <p class="intro-text darkLetter">Los grandes iconos<br>del rock</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
            <% if @travels.map(&:travel).include?('Rock') %>
               <div class = "travelRegister travelText">
                 Viaje realizado
               </div> 
             <% else %>
               <div class = "travelRegister"><%= link_to 'Agregar viaje', create_trip_path(@travel.id), method: :post, class: "travelText" %>
               </div>
             <% end %>

        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>La era de la distorsión</h2>
                <p>El primer artista que utilizó la distorsión en la guitarra eléctrica fue <a href="http://www.jimihendrix.com/es">Jimi Hendrix,</a> Nacido en Seattle, Estados Unidos, fue un músico y cantautor estadounidense. Hendrix es considerado uno de los mejores y más influyentes guitarristas eléctricos de la historia de la música popular, y uno de los músicos más importantes del siglo XX. Musicalmente influido por el rock and roll y blues eléctrico americanos, tras tener un éxito inicial en Europa con su banda The Jimi Hendrix Experience, logró fama en los Estados Unidos tras un concierto en 1967 en el Festival Pop de Monterey. Más tarde, encabezó el Woodstock Festival en 1969, y el Isle of Wight Festival de 1970, antes de fallecer a los 27 años. <a href="http://www.rollingstones.com/">The Rolling Stones</a>, nacidos en Londres, son considerados una de las más grandes e influyentes agrupaciones de la historia del rock, siendo la agrupación que sentó las bases del rock contemporáneo. Algunos de sus materiales están considerados entre los mejores de todos los tiempos; entre ellos destacan Beggars Banquet (1968), Let It Bleed (1969), Sticky Fingers (1971) y quizá su mejor obra, Exile on Main St. (1972). Ningún grupo de rock hasta la fecha ha sostenido tan duradera y todavía mundialmente reconocida trayectoria como The Rolling Stones; con Jagger, Richards y Watts como miembros fundadores en activo, continúan siendo la banda más longeva de la historia del rock. <a href="http://www.ledzeppelin.com/">Led Zeppelin</a> fue un grupo británico de rock, nacido en Londres y fundado en 1968 por el guitarrista Jimmy Page, quien había pertenecido a <a href="http://www.theyardbirds.com/">The Yardbirds</a>, al incluir en su formación a John Paul Jones como bajista y teclista (al que Page conocía de trabajos anteriores con The Yardbirds), al vocalista Robert Plant y a John Bonham a la batería (que había coincidido con Plant en The Band of Joy). Led Zeppelin presentó elementos de un amplio espectro de influencias, como el blues, el rock and roll, el soul, la música celta, la música india, el folk, e incluso el country.
                Más de treinta años después de la disgregación de la banda en 1980, la música de Led Zeppelin continúa vendiéndose, disfruta de una amplia difusión radiofónica, y ha demostrado ser una de las bandas más influyentes en la música rock.  <a href="http://www.gunsnroses.com/">Guns N' Roses</a> es una banda estadounidense de hard rock que se formó en Hollywood, Los Ángeles (California), en 1985. El grupo, encabezado por el fundador y líder de la banda Axl Rose, (William Bailey), ha pasado por una línea de numerosos cambios y controversias desde su creación. La banda ha publicado oficialmente seis álbumes de estudio, tres EP, un álbum en directo y dos recopilatorios. Es más conocida por su formación más clásica: Axl Rose (cantante), Slash (guitarra principal), Izzy Stradlin (guitarra rítmico), Duff McKagan (bajo) y Steven Adler (batería).
                La banda ha vendido más de 135 millones de álbumes en todo el mundo, incluyendo más de 58 millones de álbumes en los Estados Unidos. El álbum Appetite for Destruction de 1987 ha vendido más de 326 millones de copias a nivel mundial y alcanzó el número 1 en el Billboard 200 en Estados Unidos.  <a href="http://muse.mu/">Muse</a> es una banda inglesa de Rock Alternativo formada en 1994 en Teignmouth, Inglaterra. Sus integrantes desde su formación en la década de los años 90 son: Matt Bellamy (compositor, voz, guitarra, teclados); Dominic Howard (batería, percusión); y Christopher Wolstenholme (bajo eléctrico, teclados, coros). Tras el lanzamiento Black Holes and Revelations, Morgan Nicholls comenzó a colaborar con la banda durante las presentaciones en vivo, haciéndose cargo de teclados, samples, de algunos coros, rara vez del bajo y últimamente de la segunda guitarra. La banda es conocida por sus extravagantes espectáculos en vivo, por fusionar géneros musicales como el rock alternativo, rock espacial, rock progresivo, rock sinfónico y electrónica, además por los excéntricos intereses de Bellamy en la conspiración global, la revolución, la astrofísica, vida extraterrestre, pensamientos humanos y la idea de un fin del mundo simbólico; temas que se ven reflejados en sus letras. <a href="http://www.extremoduro.com/">Extremoduro</a> es un grupo español de rock fundado por Roberto Iniesta en Plasencia en 1987. Ellos mismos han definido su estilo como rock transgresivo, basado en un rock duro agresivo y sucio con letras explícitas que tratan temas terrenales y marginales como el sexo, las drogas y el amor en contraste con frecuentes alusiones poéticas. Con el tiempo, la poesía predominaría aún más en la lírica y la composición musical se acercó al rock progresivo y sinfónico. Es considerada por numerosos críticos de música como una de las mejores bandas del rock español de la historia, Muchos autores españoles se inspiran en ellos, o han mostrado públicamente su admiración. A pesar de haber contado con escasa promoción y apoyo mediático, en 2013 ya habían conseguido vender más de tres millones de discos.</p>
                
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section pos-div rockSecond">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <article class = "city1">
                        <p class = "marginCity">Seattle</p>
                        <%= image_tag "/images/seattle.png", :class => "dimImag", :name=> "slide5" %>
                        <p class = "marginGrunge">Es la ciudad más grande del Estado de Washington, en el noroeste de los Estados Unidos de América. El área metropolitana de la ciudad comprende Seattle-Tacoma-Bellevue, es la 15.ª más poblada del país y la mayor del Noroeste del Pacífico.2 La ciudad está situada entre el Lago Washington y la bahía conocida como Puget Sound, junto al océano Pacífico. Importante centro cultural, educativo y económico de la región, Seattle es sede del condado de King.  es famosa por ser la tierra natal de la música grunge también conocida como el sonido de Seattle,8 y de bandas que impulsaron ese movimiento a comienzos de los 90 como Nirvana, Pearl Jam, Soundgarden y Alice in Chains.
                         </p>
                    </article>

                    <article class = "city1">
                        <p class = "marginCity">Los Ángeles</p>
                        <%= image_tag "/images/losAngeles1.jpg", :class => "dimImag", :name=> "slide6" %>
                        <p class = "marginGrunge">
                             Es la ciudad más poblada del estado estadounidense de California y la segunda de Estados Unidos tras Nueva York. La ciudad es el centro del área estadística metropolitana de Los Ángeles—Long Beach—Santa Ana y del Gran Los Ángeles, que según el censo de 2010 sumaban una población de 13 y 18 millones de personas, respectivamente. Por lo tanto, es una de las mayores áreas metropolitanas del mundo y la segunda de Estados Unidos. La ciudad también es la sede del condado de Los Ángeles, uno de los condados más poblados y étnicamente diversos del país; la propia ciudad de Los Ángeles es reconocida como una de las metrópolis más diversas del planeta. El gentilicio de sus habitantes es «angelinos». Los Ángeles es una ciudad global con gran peso en ámbitos tan diversos como los negocios, el comercio internacional, el entretenimiento, la cultura, los medios de comunicación, la moda, la ciencia, los deportes, la tecnología, la educación, la medicina o la investigación. En la ciudad tienen su sede instituciones de renombre que abarcan diversos campos profesionales y culturales y es uno de los motores económicos más importantes de Estados Unidos.

                    </article>
                        
                    <article class = "city1">
                        
                        <p class = "marginCity">Londres</p>
                        <%= image_tag "/images/londres1.jpg", :class => "dimImag", :name=> "slide7" %>
                            <p class = "marginGrunge">Londres es una de las capitales mundiales de la música clásica y popular y sede de grandes sellos discográficos, como EMI, así como hogar de incontables grupos de música, músicos y profesionales de la industria. En la ciudad hay también varias orquestas y salas de conciertos, como el Barbican Centre (base de la Orquesta Sinfónica de Londres, donde se llevará a cabo Wikimanía 2014 en agosto de ese año), Cadogan Hall (Orquesta Filarmónica Real) y el Royal Albert Hall (los Proms).221 Los dos teatros principales de ópera son la Royal Opera House y el London Coliseum.221 Por supuesto, en la ciudad existen numerosos conservatorios de música: la Royal Academy of Music, el Royal College of Music, la Guildhall School of Music and Drama y el Trinity Laban Conservatoire of Music and Dance.
                            Los Abbey Road Studios en el n.º 3 de la calle Abbey Road, Ciudad de Westminster, Londres. En la ciudad hay gran cantidad de lugares para conciertos de música rock y pop, entre ellos grandes estadios como Earls Court, Wembley Arena y O2 Arena, y locales de tamaño mediano como Brixton Academy, Hammersmith Apollo y Shepherds Bush Empire.</p>
                        
                    </article>
                    <article class = "city1">
                        <p class = "marginCity">Teignmouth</p>
                        <%= image_tag "/images/merewether_1.jpg", :class => "dimImag", :name=> "slide8" %>
                        <p class = "marginGrunge">Teignmouth es un pueblo en la orilla norte del del estuario del río Teign, en el distrito de Teignbridge, Devon, Inglaterra. En 1690 fue el último lugar de Inglaterra en ser invadido por una potencia extranjera. El pueblo evolucionó de un puerto pesquero a un destino turístico de moda en los últimos siglos. A este pueblo pertenece la famosa banda de rock alternativo Muse, que se formó en este pueblo.
                        </p>
                    </article>

                     <article class = "city1">
                        <p class = "marginCity">Plasencia</p>
                        <%= image_tag "/images/plasencia1.jpg", :class => "dimImag", :name=> "slide9" %>
                        <p class = "marginGrunge">Plasencia es una ciudad y municipio español de la provincia de Cáceres, situado en el norte de la comunidad autónoma de Extremadura. El municipio, que no forma mancomunidad con los pueblos que le rodean, limita con poblaciones de cinco comarcas: Alagón, Granadilla, Jerte, Monfragüe y la Vera. Físicamente, la ciudad se halla en la puerta de entrada al valle del Jerte, a pesar de que oficialmente no pertenece al mismo. La economía del municipio se basa principalmente en el sector servicios, pues en la ciudad hay más de mil establecimientos comerciales. Es importante el turismo, pues su conjunto histórico está declarado bien de interés cultural y la ciudad cuenta con dos festividades declaradas de interés turístico: el Martes Mayor y la Semana Santa. La ciudad posee un pequeño campus universitario dependiente de la Universidad de Extremadura en el que se estudian cuatro titulaciones de grado, y en el siglo XX el municipio llegó a tener su propia caja de ahorros.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Esta es la ruta...¡¡Animate!!</h2>
                                
                <article class = "map_canvas" id="map_canvas2">
                    
                </article>
            </div>
        </div>
    </section>
     <footer class = "colocFooter fondoRockFooter">
        <div class="container text-center">
            <ul class = "ulFooter">
                <li class = "footLiGrunge darkLetter">Quienes somos</li>
                <li class = "footLiGrunge darkLetter">Contactanos</li>
                <li class = "footLiGrunge darkLetter">Trabaja con nosotros<li>
            </ul>
        </div>
    </footer>